LLM_HOST=qwen3-5
LLM_PORT=8000
RESOURCES_PATH=/data/shared/CompressaAI/test_deploy
CONTAINER_RESOURCES_PATH=/app/resources
HF_HOME=/data/shared/CompressaAI/k_cache
DOCKER_GPU_IDS=7
MAX_MODEL_LEN=128000
EXTERNAL_PORT=10010
MODEL_NAME=Qwen_Qwen3.5-35B-A3B-FP8
GPU_MEMORY_UTILIZATION=0.95
MAX_NUM_SEQS=4


